# Movies Tonight Part 2: SQL DDL

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [19]:
%%sql
sqlite:///Movies.db

'Connected: @Movies.db'

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [20]:
%%sql
DROP TABLE IF EXISTS MOVIES;
CREATE TABLE MOVIES ( 
    MID INTEGER PRIMARY KEY,
    MTitle TEXT NOT NULL,
    Rating TEXT 
);

 * sqlite:///Movies.db
Done.
Done.

[]

In [21]:
%%sql
DROP TABLE IF EXISTS ARTISTS;
CREATE TABLE ARTISTS ( 
    AID INTEGER PRIMARY KEY,
    AName TEXT NOT NULL
);

 * sqlite:///Movies.db
Done.
Done.

[]

In [22]:
%%sql
DROP TABLE IF EXISTS THEATERS;
CREATE TABLE THEATERS ( 
    TID INTEGER PRIMARY KEY,
    TName TEXT NOT NULL,
    Phone TEXT,
    Location TEXT NOT NULL 
);

 * sqlite:///Movies.db
Done.
Done.

[]

In [23]:
%%sql
DROP TABLE IF EXISTS SHOWS;
CREATE TABLE SHOWS ( 
    SID INTEGER PRIMARY KEY,
    MID INTEGER NOT NULL,
    TID INTEGER NOT NULL,
    STime TEXT NOT NULL, 
    FOREIGN KEY (MID) REFERENCES MOVIES (MID),
    FOREIGN KEY (TID) REFERENCES THEATERS (TID)
);

 * sqlite:///Movies.db
Done.
Done.

[]

In [24]:
%%sql
DROP TABLE IF EXISTS CREDITS;
CREATE TABLE CREDITS ( 
    CID INTEGER PRIMARY KEY,
    AID INTEGER,
    MID INTEGER,
    CCode TEXT,
    FOREIGN KEY (MID) REFERENCES MOVIES (MID),
    FOREIGN KEY (AID) REFERENCES ARTISTS (AID)
);

 * sqlite:///Movies.db
Done.
Done.

[]

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".